.container,
.container-fluid {
    width: 935px !important;
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.hover:hover {
    background-color: #f8f8f8;
}

.dropdown-item:focus {
    background-color: #efefef !important;
    color: black !important;
}

.font-14 {
    font-size: 14px !important;
}
