.container,
.container-fluid {
    width: 935px !important;
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.hover:hover {
    background-color: #f8f8f8;
}

.dropdown-item:focus {
    background-color: #efefef !important;
    color: black !important;
}

.font-14 {
    font-size: 14px !important;
}

@media screen and (max-width: 992px) {
    .container,
    .container-fluid,
    .navigation {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    .navbar-toggler {
        padding: 6px !important;
        font-size: 15px !important;
    }
    .font-14 {
        font-size: 10px !important;
    }
}
